<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Application Accepted</title>
</head>
<body>
    <div th:replace="~{fragments/salutation :: salutation}"></div>

    <div th:replace="~{fragments/group-content :: acceptance-template}"></div>

    <div th:replace="~{fragments/thesis-link :: thesis-link}"></div>

    <div th:replace="~{fragments/group-content :: post-acceptance-instructions}"></div>

    <div th:replace="~{fragments/notification-settings :: settings}"></div>

    <div th:replace="~{fragments/group-content :: email-footer}"></div>
</body>
</html>