<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thesis Created</title>
</head>
<body>
    <div th:replace="~{fragments/salutation :: salutation}"></div>

    <p>A new thesis has been created:</p>
    <h2 th:text="${thesis.title}"></h2>

    <div th:replace="~{fragments/thesis-link :: thesis-link}"></div>

    <div th:if="${group}">
        <p>This thesis is managed by <span th:text="${group.name}"></span>.</p>
    </div>

    <div th:replace="~{fragments/notification-settings :: settings}"></div>

    <div th:replace="~{fragments/group-content :: email-footer}"></div>
</body>
</html>