<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thesis Proposal Accepted</title>
</head>
<body>
    <div th:replace="~{fragments/salutation :: salutation}"></div>

    <p>Your thesis proposal has been accepted!</p>
    <h2 th:text="${thesis.title}"></h2>

    <div th:replace="~{fragments/thesis-link :: thesis-link}"></div>

    <div th:replace="~{fragments/group-content :: post-acceptance-instructions}"></div>

    <div th:replace="~{fragments/notification-settings :: settings}"></div>

    <div th:replace="~{fragments/group-content :: email-footer}"></div>
</body>
</html>